*{
	margin: 0;
	text-decoration: none;
}

body{
	font-size: 16;
}

nav {
	width: 100%;
	height: 70px;
	background: white;
}

#menu {
	float: right;
	font-family: helvetica;
	font-size: 1em;

}
#logo {
	float: left;
	margin: 0.5em;
}

#main {
	max-width: 100%;
	height: 1140px;
	text-align: center;
	background: url(http://www.robinoneillphotography.com/media/original/_MG_8767-Edit-DUP.jpg)center center no-repeat;
}

#main h1 {
	font-size: 11em;
	font-family: helvetica;
	margin-bottom: 0.2em;
	padding-top: 2em;
	color: #EE2E24;
}

#main h2 {
	font-family: helvetica;
	color: black;
	font-size: 3em;
	margin-bottom: 4em;
	color: white;

}

.btn-main {
	background-color: white;
	border-radius: 0.1em;
	font-size: 0.8em;
	font-family: helvetica;
	padding: 1.5em 2.5em 1.5em 2.5em;
	position: relative;
	z-index: 2;
	color: #EE2E24;

}

.btn-main:hover {
	background-color: #EE2E24;
	color: white;
}

#cleta {
	width: 100%;
	height: 1334px;
	margin: -350px auto 0px auto;
	z-index: 1;
	background-image: url(../img/bike.png);
	background-size: cover;
	position: relative;


}
